.sub_title{
    color: rgb(65, 65, 65);
}
.sub_group_input{
    align-items: flex-end;
}
.sub_group_input label{
    font-size: 1.125rem;
}
.people{
    width: 100%;
}
td,th{
    border: 1px solid black;
}
[data-people]:hover{
    background-color: rgba(253, 253, 197, 0.733);
}
.actions{
    display: flex;
}
.actions button{
    margin: 0 auto;
}